{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Product</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
    <div class="row mb-4 mb-lg-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <p class="fw-bold text-success mb-2">Welcome</p>
            <h2 class="fw-bold">User login</h2>
        </div>
        <div class="col d-md-flex justify-content-md-center align-items-md-center">
            <form action="/logout">
                <button class="btn btn-primary" type="submit">Logout</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p class="text-center">File selection and processing:</p><input type="file"><button class="btn btn-primary" type="button">Process</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center">Processed files:</p>
            <div class="row text-center">
                <div class="col text-center d-md-flex justify-content-md-center align-items-md-center"><strong class="text-center">File name</strong></div>
                <div class="col d-md-flex justify-content-md-center align-items-md-center"><button class="btn btn-primary" type="button">Download</button></div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bold-and-dark.js"></script>
</body>

</html>